* {
  margin: 0px;
  /* padding: 0px; */
}
/* Shared Styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* banner section starts here  */

.banner {
  padding: 0px 190px;
  width: 1440px;
  height: 900px;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar > h3 {
  margin: 57px;
  color: rgb(230, 83, 60);
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
}

.nav-items {
  margin: 57px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 3px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  display: flex;
  gap: 47px;
  list-style: none;
}
.nav-list {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}
.nav-1 {
  padding: 8px 20px 8px 20px;
  border-radius: 46px;
  background: rgb(230, 83, 60);
}
/* nav styles ends here  */

/* banner main styles starts here  */